@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark; /* Hack to remove white artifacts from corners of autofilled form inputs */
    --font-family-system: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

    /* Colors */
    --primary-bg: rgb(16, 16, 16);
    --secondary-bg: rgb(10, 10, 10);
    --tertiary-bg: rgb(30, 30, 30);
    --elevated-bg: rgb(24, 24, 24);
    --hovered-bg: rgb(33, 33, 33);
    --glimmer-bg: rgb(45, 45, 45);

    --primary-outline: rgba(243, 245, 247, 0.15);
    --primary-border: rgb(45, 45, 45);

    --primary-text: rgb(243, 245, 247);
    --secondary-text: rgb(119, 119, 119);
    --charcoal-text: rgb(204, 204, 204);
    --placeholder-text: rgb(138, 141, 145);
    --error-text: rgb(255, 48, 64);
    --secondary-button: rgb(16, 16, 16);
    --navigation-icon: rgb(77, 77, 77);
    --notification: color(display-p3 1 0.18 0.25 / 1);
    --link-text: rgb(0, 149, 246);

    /* Spacing */
    --radius: 0.5rem;
    --sidebar-width: 76px;
    --header-height: 60px;
    --mobile-nav-height: 68px;
  }
  /* Global focus styles, plus [data-highlighted] styles to override Radix dropdowns */
  .link:focus-visible:not(:hover),
  button:focus-visible:not(:hover):not(.subtle-focus),
  a:focus-visible:not(:hover),
  *[data-highlighted]:not(:hover) {
    @apply !outline-none focus:outline-2 focus:outline-white focus:ring-2 focus:ring-blue-500 focus:ring-offset-2;
  }
  /* ? hack to stop the scrollbar being hidden (but hide the thumb) when a Radix Dialog is open */
  html body[data-scroll-locked] {
    overflow-y: scroll !important;
    margin-right: 0 !important;
  }
  @supports selector(:has(*)) {
    html:has(body[data-scroll-locked]) {
      scrollbar-color: transparent rgb(44, 44, 44);
    }
  }
  /* Splash screen that fades out when the threads are loaded for a public user */
  @supports selector(:has(*)) {
    html:has([data-threads-loaded='true']) .splash-overlay {
      opacity: 0;
      & .splash-logo {
        transform: scale(1.3);
      }
    }
  }
}

/* autofill style hack: https://github.com/tailwindlabs/tailwindcss/discussions/8679 */
@layer components {
  .autofill-text:-webkit-autofill {
    -webkit-text-fill-color: var(--primary-text);
  }
  .text-input {
    @apply autofill-text; /* set text colour */
    @apply autofill:shadow-[inset_0_0_0px_1000px_#272e3c]; /* set 'background' colour */
    /* @apply autofill:text-md; set font size */
  }
}
